<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSPresoPortBinding" />
                <binding name="WSHorarioPortBinding" />
                <binding name="WSPenalPortBinding" />
                <binding name="WSVisitaPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WSCarcelJava/WSPreso"
                binding="basicHttpBinding" bindingConfiguration="WSPresoPortBinding"
                contract="preso.WSPreso" name="WSPresoPort" />
            <endpoint address="http://localhost:8080/WSCarcelJava/WSHorario"
                binding="basicHttpBinding" bindingConfiguration="WSHorarioPortBinding"
                contract="horario.WSHorario" name="WSHorarioPort" />
            <endpoint address="http://localhost:8080/WSCarcelJava/WSPenal"
                binding="basicHttpBinding" bindingConfiguration="WSPenalPortBinding"
                contract="penal.WSPenal" name="WSPenalPort" />
            <endpoint address="http://localhost:8080/WSCarcelJava/WSVisita"
                binding="basicHttpBinding" bindingConfiguration="WSVisitaPortBinding"
                contract="Visita.WSVisita" name="WSVisitaPort" />
        </client>
    </system.serviceModel>
</configuration>